body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F1E5; /* Бежевый фон */
    text-align: center;
    color: #5A4636; /* Тёмно-коричневый текст */
}

header {
    background-color: #8C5C3B; /* Темно-бежевый заголовок */
    color: white;
    padding: 15px;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    color: #8C5C3B;
}

button {
    background-color: #8C5C3B; /* Темно-бежевый */
    color: white;
    padding: 12px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 90%;
}

button:hover {
    background-color: #6B442A; /* Чуть темнее при наведении */
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.back-btn {
    background-color: #A07E5A; /* Светлый беж */
}
